.search-form {
    background-color: rgb(30, 30, 30);
    display: flex;
    width: 150%;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
}

.search {
    height: 5rem;
}

input {
    border-radius: 5px;
    background-color: magenta;
    width: 100%;
}

button {
    height: 2rem;
    width: 6rem;
}